In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset/train.csv")
df.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [3]:
df.shape

(36992, 25)

In [5]:
df = df.dropna()

In [6]:
# changinng negative values to zero
df["churn_risk_score"] = np.where((df["churn_risk_score"] < 0),0,df["churn_risk_score"])

In [7]:
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5
5,fffe43004900440036003300320035003300,Leslie Browder,13,M,PSG1LGF,City,Gold Membership,2016-01-08,No,xxxxxxxx,...,433.62,13884.77,24.0,722.27,Yes,No,Yes,Unsolved,No reason specified,3

In [8]:
df.to_csv("warehouse/clean_data.csv")

## Further Cleaning
'?' Cleaning in
- Joined through reffral column
- Medium of Operation Column

-ve values in 
- Days since last login
- Avg time spent

In [9]:
df.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [10]:
df.shape

(28373, 25)

In [14]:
df = df[(df["medium_of_operation"]!='?') & (df["joined_through_referral"]!='?')]

In [15]:
df.shape

(20719, 25)

In [16]:
# changinng negative values to zero
df["days_since_last_login"] = np.where((df["days_since_last_login"] < 0),0,df["days_since_last_login"])
df["avg_time_spent"] = np.where((df["avg_time_spent"] < 0),0,df["avg_time_spent"])

<ipython-input-16-5c08f657ba3c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["days_since_last_login"] = np.where((df["days_since_last_login"] < 0),0,df["days_since_last_login"])
<ipython-input-16-5c08f657ba3c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["avg_time_spent"] = np.where((df["avg_time_spent"] < 0),0,df["avg_time_spent"])

In [19]:
df.shape

(20719, 25)

In [20]:
df.to_csv("warehouse/clean_data.csv")