In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("warehouse/clean_data.csv",index_col=0)
df.shape

(20719, 25)

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [8]:
df = df.apply(label_encoder.fit_transform)

In [9]:
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,3279,14201,34,0,847,1,2,680,1,276,...,12080,7837,445,1725,0,1,1,3,3,5
3,18097,5884,27,1,18200,0,2,667,1,3415,...,1421,9459,932,3251,0,1,1,4,3,5
4,3372,13870,21,0,16661,0,2,985,0,7025,...,4046,9141,419,6840,0,1,1,2,3,5
6,613,2570,11,1,15665,1,1,77,1,1794,...,1522,3183,463,11649,1,0,1,3,0,3
10,15376,12934,15,0,14242,2,0,507,1,1126,...,12488,13335,940,8607,1,1,0,1,2,5

In [10]:
from sklearn.model_selection import train_test_split
X = df[['age', 'gender',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback']]
y = df["churn_risk_score"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
dt_model = DecisionTreeClassifier()

In [12]:
dt_model.fit(X_train,y_train)

DecisionTreeClassifier()

In [13]:
y_pred = dt_model.predict(X_test)

In [15]:
from sklearn.metrics import f1_score
score = f1_score(y_test,y_pred,average='macro')

In [16]:
score

0.6160965973850226