In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('warehouse/clean_data.csv',index_col=0)

In [7]:
df.shape

(20719, 25)

In [8]:
df.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [9]:
# Cleaning the Null and Negative values
# df = df[df["churn_risk_score"]>=0]

# changinng negative values to zero
# df["churn_risk_score"] = np.where((df["churn_risk_score"] < 0),0,df["churn_risk_score"])

In [10]:
df = df.dropna()

In [11]:
df.shape

(20719, 25)

In [12]:
df.isna().count()

customer_id                     20719
Name                            20719
age                             20719
gender                          20719
security_no                     20719
region_category                 20719
membership_category             20719
joining_date                    20719
joined_through_referral         20719
referral_id                     20719
preferred_offer_types           20719
medium_of_operation             20719
internet_option                 20719
last_visit_time                 20719
days_since_last_login           20719
avg_time_spent                  20719
avg_transaction_value           20719
avg_frequency_login_days        20719
points_in_wallet                20719
used_special_discount           20719
offer_application_preference    20719
past_complaint                  20719
complaint_status                20719
feedback                        20719
churn_risk_score                20719
dtype: int64

In [13]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [14]:
df = df.apply(label_encoder.fit_transform)

In [15]:
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,3279,14201,34,0,847,1,2,680,1,276,...,12080,7837,445,1725,0,1,1,3,3,5
3,18097,5884,27,1,18200,0,2,667,1,3415,...,1421,9459,932,3251,0,1,1,4,3,5
4,3372,13870,21,0,16661,0,2,985,0,7025,...,4046,9141,419,6840,0,1,1,2,3,5
6,613,2570,11,1,15665,1,1,77,1,1794,...,1522,3183,463,11649,1,0,1,3,0,3
10,15376,12934,15,0,14242,2,0,507,1,1126,...,12488,13335,940,8607,1,1,0,1,2,5

In [16]:
from sklearn.model_selection import train_test_split
X = df[['age', 'gender',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback']]
y = df["churn_risk_score"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [18]:
model.fit(X_train,y_train)

LinearRegression()

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import f1_score,mean_squared_error
score = mean_squared_error(y_test, y_pred)
score

1.170051866596474

In [21]:
result_df = pd.DataFrame({
    "churn_risk_score":y_pred.astype(int)
})

In [22]:
result_df

      churn_risk_score
0                    4
1                    3
2                    4
3                    2
4                    2
...                ...
6833                 3
6834                 3
6835                 4
6836                 3
6837                 3

[6838 rows x 1 columns]

In [23]:
real_test_data = pd.read_csv("dataset/test.csv")
real_test_data.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website

In [24]:
real_test_data2 = real_test_data[['age', 'gender',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback']]

In [25]:
real_test_data2.dtypes

age                               int64
gender                           object
region_category                  object
membership_category              object
joining_date                     object
joined_through_referral          object
preferred_offer_types            object
medium_of_operation              object
internet_option                  object
last_visit_time                  object
days_since_last_login             int64
avg_time_spent                  float64
avg_transaction_value           float64
avg_frequency_login_days         object
points_in_wallet                float64
used_special_discount            object
offer_application_preference     object
past_complaint                   object
complaint_status                 object
feedback                         object
dtype: object

In [28]:
# str_needed = real_test_data.select_dtypes(exclude=["float64","int64"])
encoded = real_test_data2.astype(str).apply(label_encoder.fit_transform)
real_test_pred = model.predict(encoded)
encoded.head()

,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,40,0,2,4,305,1,2,3,2,5375,4,9699,12556,936,10445,1,0,0,1,2
1,31,1,2,1,425,1,2,2,0,16603,3,9400,19623,943,10110,1,0,0,1,3
2,21,0,1,5,792,1,1,1,1,12359,10,5667,10979,458,9476,1,0,1,3,0
3,54,1,1,5,960,2,0,0,0,11087,0,10635,10935,439,10903,1,0,1,0,7
4,6,0,1,2,124,2,2,3,1,2190,23,8955,12529,942,1763,0,1,1,3,3

In [29]:
final_result_df = pd.DataFrame({
    "customer_id":real_test_data["customer_id"],
    "churn_risk_score":real_test_pred.astype(int)
})

In [30]:
final_result_df.head()

                            customer_id  churn_risk_score
0  fffe43004900440031003700300030003400                 3
1  fffe43004900440031003900370037003300                 3
2  fffe43004900440034003800360037003000                 3
3  fffe43004900440036003200370033003400                 2
4  fffe43004900440035003000370031003900                 4

In [31]:
final_result_df.to_csv("try-1.csv")